<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galactic Origins Bot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/favicon.png') }}">
    <meta name="description" content="A chat-GPT powered bot indexed on some relevant arxiv papers that answers questions about the Milky Way.">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
</head>

<body class="bg-black min-h-screen flex flex-col items-center justify-center">
    <header>
        <h4 class="text-center text-xl font-medium text-white mb-6">Galactic Origins</h4>
    </header>
    <main class="w-full max-w-xl px-4">
        <div class="flex justify-center items-center mb-4">
            <img src="{{ url_for('static', path='images/helloworld.gif') }}" alt="Galactic Origins Logo" width="200" height="100">
        </div>
        <p class="text-center text-sm text-white mb-4" id="header">Ask a question about <a href="https://en.wikipedia.org/wiki/Milky_Way" class="text-blue-500">The Milky Way</a>.</p>
        
        <div id="messages" class="bg-black text-white rounded-lg p-4 mb-4 overflow-auto messages-box">
        </div>

        <form action="" class="flex space-x-4" id="chat-form" onsubmit="sendMessage(event)">
            <input type="text" class="form-control flex-grow bg-black text-white border-none rounded-lg py-2 px-4" placeholder="Write your question" id="messageText" aria-label="Type your question">
            <button id="send" type="submit" class="btn btn-primary bg-black text-white border-none rounded-lg py-2 px-6" aria-label="Send">Send</button>
        </form>
    </main>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>
</html>
